<%= render 'shared/content_title', title: @ticket.name%>

<p><%= @ticket.body %></p>
<p>Created by: <%= @ticket.creator.name %></p>

<%= link_to "Edit", edit_ticket_path(@ticket), class: "btn btn-outline-secondary btn-sm"%>
<%= link_to "Delete", ticket_path(@ticket), method: :delete, class: "btn btn-outline-danger btn-sm"%>