<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Ticketman", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown d-flex ml-2">
        <%= link_to "Projects", projects_path, class: "nav-link" %>
        <% if logged_in? %>
          <a class="nav-link dropdown-toggle dropdown-toggle-split" href="#" id="projectsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="projectsDropdown">
            <%= link_to "View Projects", projects_path, class: "dropdown-item" %>
            <%= link_to "Add Project", new_project_path, class: "dropdown-item" %>
          </div>
        <% end %>
      </li>
      <li class="nav-item dropdown d-flex ml-2">
        <%= link_to "Tickets", tickets_path, class: "nav-link" %>
        <% if logged_in? %>
          <a class="nav-link dropdown-toggle dropdown-toggle-split" href="#" id="ticketsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="ticketsDropdown">
            <%= link_to "View Tickets", tickets_path, class: "dropdown-item" %>
            <%= link_to "Add Ticket", new_ticket_path, class: "dropdown-item" %>
          </div>
        <% end %>
      </li>
      <li class="nav-item dropdown d-flex ml-2">
        <%= link_to "Tags", tags_path, class: "nav-link" %>
        <% if logged_in? %>
          <a class="nav-link dropdown-toggle dropdown-toggle-split" href="#" id="tagsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="tagsDropdown">
            <%= link_to "View Tags", tags_path, class: "dropdown-item" %>
            <%= link_to "Add Tag", new_tag_path, class: "dropdown-item" %>
          </div>
        <% end %>
      </li>
      <% if logged_in? %>
      <li class="nav-item">
        <span>Hi <%= current_user[:name] %>!</span>
        <%= link_to "Logout", logout_path, class: "btn btn-sm btn-outline-primary ml-2" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", login_path, class: "btn btn-outline-secondary ml-2" %>
      </li>
      <li id="nav-btn-register" class="nav-item">
        <%= link_to "Register", register_path, class: "btn btn-outline-primary ml-2" %>
      </li>
    <% end %>
    </ul>
  </div>
</nav>
